@use '../general/colour-palette' as palette;

/* Mixins */
@mixin coloured-btn($base-colour, $click-colour) {
    background-color: $base-colour;
    &:active {
        background-color: $click-colour;
    }
}

/* default button */
button {
    /* Padding & margin */
    padding: 10px 20px;
    margin: 5px;
    /* Rounded shape */
    border-radius: 20px;
    /* Sizing */ 
    width: fit-content;
    /* Font size & weigth */
    font-size: 16px;
    font-weight: 600;
}

/* coloured buttons */
.remove-btn {
    @include coloured-btn(red, darkred);
}

/* Special buttons */ 
#submit-form-btn {
    min-width: 10%;
}