@use '../general/colour-palette' as palette;

/* Default */ 
fieldset {
    /* Border */
    border: 2px dashed white;
    border-radius: 10px;

    /* Padding */
    padding: 10px;

}

/* Fieldset which is within a list section */ 
.list-section {
    fieldset{
        /* Border */
        border: none;
        /* Background */
        background-color: white;
    }
}

