form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    fieldset.personal-info {
        display: grid;
        gap: 5px;
        align-items: center;

        h3 {
            grid-column: 1 / -1;
        }
    }

    fieldset.list-section {
        display: flex;
        flex-direction: column;

        ul {
            display: grid; 
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 10px;
            grid-auto-rows: minmax(100px, auto);

            fieldset {
                display: inline-grid;
                grid-template-columns: auto auto;
                gap: 5px;
                align-items: center;

                button {
                    grid-column: 1 / -1;
                    justify-self: end;
                }
            }
        }

        .add-btn {
            grid-column: 1 / -1;
            justify-self: center;
        }
    }

    h3 {
        padding: 10px 0px;
    }
}

